@import '../../sass/main.scss';
.about_main_flex {
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 375px) {
        padding: 0 10px;
    }

.about_main {
    width: 90%;
    margin: auto auto 320px auto;
    @media screen and (max-width: 375px) {
        margin: auto auto 500px auto;
    }
    &_collapse {
        margin: 40px auto;    
         @media screen and (max-width: 375px) {
             margin: 20px auto;
         }
    }
}
}