@import '../../sass/main.scss';
.about_main_flex {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    @media screen and (max-width: 375px) {
        padding: 0 10px;
    }


.about_main {
    width: 95%;
    margin-bottom: 320px;
    @media screen and (max-width: 375px) {
        margin-bottom: 500px;
    }
    &_collapse{
        margin: 40px auto;    
         @media screen and (max-width: 375px){
             margin: 20px auto;
         }
    }
}
}