@import '../../sass/main.scss';

.accommodation{
    &_content{
        @include flex(row, space-between, flex-start);
        color: $color-secondary;
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
        @media screen and (max-width: 650px) {
            @include flex(column, space-between, flex-start);
            gap: 10px;
        }
        &_infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            font-size: 14px;
            h2 {   
                max-width: 635px;
                font-size: 36px;
                font-weight: 500;
                line-height: 51.34px;
                @media screen and (max-width: 375px) {
                    max-width: 335px;
                    font-size: 18px;
                    line-height: 25.67px;
                }
            }
            p {
                size: 18px;
                line-height: 25.67px;
                font-weight: 500;
                @media screen and (max-width: 375px) {
                    size: 14px;
                    line-height: 19.96px;
                }
            }
            button{
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                &:hover{
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;  
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media screen and (max-width: 650px){
                width: 100%;
                @include flex(row-reverse, space-between, center);
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                @media screen and (max-width: 500px){
                    gap: 0 5px;
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
                @media screen and (max-width: 375px) {
                    font-size: 12px;
                }
            }
            img{
                width: 60px;
                height: 60px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                @media screen and (max-width: 375px) {
                    width: 30px;
                    height: 30px;   
                }
            }
            &_stars{
                display: flex;
                gap: 10px;              
                img {
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;
                    }
                    @media screen and (max-width: 375px){
                        width: 13.41px;
                        height: 13px;
                    }
                }
            }
        }
    }
}