@import '../../sass/main.scss';

.banner {
    position: relative;
    @include flex;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/home_cover.jpg');
    background-position: center;
    background-size: cover;
    height: 220px;
    padding: 20px;
    max-width: 92%;
    margin: 40px auto;
    @media screen and (max-width: 375px) {
        margin: 20px auto;
        height: 120px;
    }
    &_about {
        position: relative;
        @include flex;
        border-radius: 10px;
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/about_cover1.jpg');
        background-position: center;
        background-size: cover;
        height: 220px;
        max-width: 92%;
        margin: 40px auto;
        @media screen and (max-width: 550px) {
            margin: 20px auto;
            height: 230px;
        }
        // @media screen and (max-width: 768px) {
        //     margin: 5px;
        //     height: 200px;
        // }
    }
    h1 {
        position: relative;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        color: $color-primary;
        line-height: 48px;
        letter-spacing: 3px;
        display: flex;
        
        
        
        

        @media screen and (max-width: $breakpoint-desktop) {
            // font-size: 30px;
            // letter-spacing: 2px;
            position: absolute;
            font-size: 20px;
            line-height: 100%;
            width: 240px;
            left: 5.6%;   
        }
    }
}